<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
</head>
<body>
    <p><a href="http://127.0.0.1:5000/"><strong>Home</strong></a></p>
        <br><br>
    <h2>Schedule Year: {{ year }}</h2>
    <table>
        <tbody>
           <tr>
                <td>Date</td>
                <td>Opponent</td>
                <td>Result</td>
                <td>Scored</td>
                <td>Allowed</td>
            </tr>
        {% for game in games %}
            <tr>
                <td>{{game["date"]}}</td>
                <td>{{game["opponent"]}}</td>
                <td>{{game["result"]}}</td>
                <td>{{game["points_for"]}}</td>
                <td>{{game["points_against"]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>