<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
</head>
<body>
<p><img src="Logos/NFL/Cleveland Browns.jpg" alt="" /><h1>Welcome to Brian's Cleveland Sports Python Project!</h1></p>
<p>&nbsp;</p>
<a href="http://127.0.0.1:5000/browns"><img src="{{ url_for('static', filename='Cleveland Browns.jpg') }}" alt="Cleveland Browns"/></a>
<a href="http://127.0.0.1:5000/indians"><img src="{{ url_for('static', filename='Cleveland Indians.jpg') }}"/></a>
<a href="http://127.0.0.1:5000/buckeyes"><img src="{{ url_for('static', filename='Ohio State Buckeyes.jpg') }}"/></a>
</body>
</html>